<h1>This is the categories page</h1>

<% @categories.each do |category| %>
  <div>
    <h2>
      <%= link_to category_operations_path(category.id) do %>
        <%= category.name %>
      <% end %>
    </h2>
    <p><%= image_tag category.icon, class: 'category_icon' %></p>
    <p>$<%= category.calculate_amount %></p>
  </div>
<% end %>
<button>
  <%= link_to 'Add New Category', new_category_path %>
</button>