<%= render partial: 'shared/nav', locals: {title:'Create a new category', symbol:'<', url: category_operations_path}%>
<%= form_with(model: @operation, class:'form', url: category_operations_path, local: true, method: :post, multipart: true) do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :amount %><br>
    <%= form.number_field :amount, required: true %>
  </div>

<div class='field'>
  <%= form.label :category %><br>
  <%= form.collection_select :category_id, Category.all, :id, :name, { include_blank: 'Select Category', selected: @category.id }, required: true %>
</div>



  <div>
    <%= form.submit class: 'create_transaction' %>
  </div>

<% end %>
